@model WebApplication5.ViewModels.RegiserViewModel
@{
    ViewData["Title"] = "Register";
    // Layout = null;
}

@* <form method="post" action="/Account/Register">
    <input type="text" asp-for="UserName" class="form-control" placeholder="userName" />
    <input type="text" asp-for="Email" class="form-control" placeholder="Email" />
    <input type="password" asp-for="Password" class="form-control" placeholder="password" />


    <button>Register</button>
</form> *@



<form method="post" action="/Account/Register"
      class="p-4 border rounded shadow-sm bg-white"
      style="max-width: 400px; margin: 50px auto;">

    <h3 class="text-center mb-4">Register</h3>

    <div class="mb-3">
        <input type="text" asp-for="UserName" class="form-control" placeholder="Username" />
    </div>

    <div class="mb-3">
        <input type="email" asp-for="Email" class="form-control" placeholder="Email" />
    </div>

    <div class="mb-3">
        <input type="password" asp-for="Password" class="form-control" placeholder="Password" />

    </div>

    <button type="submit" class="btn btn-success w-100">Register</button>

    <div class="text-center mt-3">
        <a href="/Account/Login" class="text-decoration-none">Already have an account? Login</a>
        @* <button>Register</button> *@

    </div>
</form>


