USE [master]
GO
/****** Object:  Database [GarageServiceDB1]    Script Date: 7/4/2025 8:10:24 PM ******/
CREATE DATABASE [GarageServiceDB1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GarageServiceDB1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\GarageServiceDB1.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GarageServiceDB1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\GarageServiceDB1_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GarageServiceDB1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GarageServiceDB1]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/4/2025 8:10:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 7/4/2025 8:10:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceReceived]    Script Date: 7/4/2025 8:10:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceReceived](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[CarModel] [nvarchar](20) NOT NULL,
	[LicensePlate] [nvarchar](20) NOT NULL,
	[VIN] [nvarchar](50) NOT NULL,
	[StateBeforeRepair] [nvarchar](1000) NOT NULL,
	[CustomerComplaint] [nvarchar](2000) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[EstimatedCost] [decimal](10, 2) NOT NULL,
	[ReceivedDate] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_ServiceReceived] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceReceived_CustomerId]    Script Date: 7/4/2025 8:10:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceReceived_CustomerId] ON [dbo].[ServiceReceived]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ServiceReceived]  WITH CHECK ADD  CONSTRAINT [FK_ServiceReceived_Customer_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceReceived] CHECK CONSTRAINT [FK_ServiceReceived_Customer_CustomerId]
GO
USE [master]
GO
